<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img id="imginicio" src="../../assets/logoincio.png" alt="">

    <ion-card>
      <ion-card-title style="font-size: 40px;">Registor usuario</ion-card-title>
      <ion-card-content>
        <!-- Campo de email -->
        <ion-input type="email" fill="solid" label="Correo Electronico" labelPlacement="floating"
          errorText="Correo Invalido" ngModel email [(ngModel)]="email"></ion-input>

        <!-- Espacio en blanco -->
        <br>
        <!-- Campo de contraseña -->
        <ion-input id="password-input" type="password" label="Contraseña" labelPlacement="floating" [counter]="true"
          maxlength="20" [counterFormatter]="customCounterFormatter" [(ngModel)]="password"></ion-input>
        <br>

        <!-- Campo de contraseña -->
        <ion-input id="password-input" type="password" label="Repita la Contraseña" labelPlacement="floating"
          [counter]="true" maxlength="20" [counterFormatter]="customCounterFormatterdos"
          [(ngModel)]="passworddos"></ion-input>
        <br>

        <!-- Boton de inicio de session -->
        <ion-button color="success" (click)="registrousuario()">Registarse</ion-button>

        <br>
        <ion-label>Ya tines una cuneta?</ion-label>
        <!-- Boton para nevegar al inicio de session-->

        <ion-button color="success" (click)="navegarinicio()">Iniciar Session</ion-button>

      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
